@tailwind base;

@tailwind components;

@tailwind utilities;

@layer base {
  :root {
    --gradient: 100, 200, 100;
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 142 100% 90%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 120 100% 12.9%;
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 42 100% 24%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 4% 24%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 142 42% 70%;
    --input: 240 5.9% 90%;
    --ring: 120 100% 12.9%;
    --radius: 0.5rem;
  }

  :root {
    --gradient: 100, 200, 100;
    --background: 220 23% 95%;
    --foreground: 234 16% 35%;
    --muted: 220 12% 90%;
    --muted-foreground: 220 12% 30%;
    --popover: 220 23% 92%;
    --popover-foreground: 234 16% 25%;
    --card: 220 23% 93%;
    --card-foreground: 142 16% 30%;
    --border: 142 42% 70%;
    --input: 220 13% 87%;
    --primary: 120 100% 12.9%;
    --primary-foreground: 0 0% 100%;
    --secondary: 266 30% 75%;
    --secondary-foreground: 266 30% 15%;
    --accent: 220 23% 80%;
    --accent-foreground: 220 23% 20%;
    --destructive: 3 87% 37%;
    --destructive-foreground: 3 87% 97%;
    --ring: 266 85% 58%;
    --radius: 0.5rem;
  }

  .dark {
    --gradient: #00ff7f;
    --background: 150 5.88% 6.67%;
    --foreground: 150 5.56% 92.94%;
    --muted: 150 4.17% 9.41%;
    --muted-foreground: 157.5 5.13% 69.41%;
    --popover: 150 4.17% 9.41%;
    --popover-foreground: 150 5.56% 92.94%;
    --card: 150 4.17% 9.41%;
    --card-foreground: 150 5.56% 92.94%;
    --border: 150 3.51% 22.35%;
    --input: 150 3.51% 22.35%;
    --primary: 151.03 54.72% 41.57%;
    --primary-foreground: 338 0% 100%;
    --secondary: 42.06 100% 61.96%;
    --secondary-foreground: 36 29.41% 6.67%;
    --accent: 150 3.03% 12.94%;
    --accent-foreground: 150 5.56% 92.94%;
    --destructive: 358.09 75.12% 59.02%;
    --destructive-foreground: 0 0% 100%;
    --ring: 151.03 54.72% 41.57%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }

  .bg-gradient:not(.dark):not(.dark *) {
    background: rgba(var(--gradient), 0.2);
  }
}

pre,
code {
  tab-width: 2;
}
