@tailwind base;

@tailwind components;

@tailwind utilities;

@layer base {
  :root {
    --gradient: 100, 200, 100;
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 142 100% 90%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 120 100% 12.9%;
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 42 100% 24%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 4% 24%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 142 42% 70%;
    --input: 240 5.9% 90%;
    --ring: 120 100% 12.9%;
    --radius: 0.5rem;
  }

  .dark {
    --gradient: #00ff7f;
    --background: 159 65% 4%;
    --foreground: 159 10% 97.5%;
    --muted: 159 100% 19.5%;
    --muted-foreground: 159 42% 75%;
    --popover: 159 72% 12.5%;
    --popover-foreground: 159 10% 97.5%;
    --card: 159 72% 12.5%;
    --card-foreground: 159 10% 97.5%;
    --border: 159 100% 19.5%;
    --input: 159 100% 19.5%;
    --primary: 159 100% 50%;
    --primary-foreground: 159 10% 5%;
    --secondary: 159 100% 19.5%;
    --secondary-foreground: 159 10% 97.5%;
    --accent: 159 100% 19.5%;
    --accent-foreground: 159 10% 97.5%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 159 10% 97.5%;
    --ring: 159 100% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }

  .bg-gradient:not(.dark):not(.dark *) {
    background: rgba(var(--gradient), 0.2);
  }
}

pre,
code {
  tab-width: 2;
}
